<div class="container">
  <div class="main">
    <header class="wrapper">
      <ul class="navbar" [class.show]="isMenuOpen">
        <li class="logo">
          <img src="/assets/logo new TM 1.png">
        </li>
        <div class="navlinks">
          <li>Home</li>
          <li>About Us</li>
          <li>Our Services</li>
      </div>
      <div class="navbuttons">
          <li><button>Contact Us</button></li>
          <li><button class="login"><img src="/assets/image 35.png" width="20px" height="20px">Login</button></li>
      </div>
      </ul>
      <div class="hamburger" (click)="toggleMenu()">
        ☰
    </div>
    </header>
  
    <section class="wrapper">
      <div class="bg">
        <div class="bg1">
          <h1 class="heading">THE QUEEN'S STRATEGY:</h1>
          <h2 class="heading1">Presenting 8 phases for success</h2>
          <p class="para">Built wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening.Park gate sell they west hard for the.</p>
          <div class="buttons">
            <button class="btn">Join Now</button>
            <img src="/assets/Play button.png" class="play1">
            <span class="play">Play Demo</span>
          </div>
        </div>
  
        <div class="bg2">
          <img src="/assets/shopping.png">
        </div>
  
        <div class="bg3">
          <img src="/assets/image-removebg-preview (6) 2.png" class="img2">
        </div>
      </div>
    </section>
  </div>
  
  <section class="wrapper">
    <div class="one">
      <p>How It Works</p>
      <h1>How Phase-I Works?</h1>
      <img src="/assets/Group 4.png">
    </div>
  
    <div class="num two">
      <div class="num1">
        <img src="/assets/Group 48.png" class="image">
        <h4>Engage</h4>
        <p class="para">Customers shop at your store through Amiiba.</p>
      </div>
  
      <div class="num1">
        <img src="/assets/Group 48.png" class="image">
        <h4>Accumulate</h4>
        <p class="para">Reward points are accumulated in their Amiiba wallet.</p>
      </div>
  
      <div class="num1">
        <img src="/assets/Group 50.png" height="78px" width="92px" class="image">
        <h4>Multiply</h4>
        <p class="para">Encourage multi-store purchases with bonus points incentives.</p>
      </div>
  
      <div class="num1">
        <img src="/assets/Group 49.png" class="image">
        <h4>Redeem</h4>
        <p class="para">Customers can claim their points in cash, boosting their satisfaction.</p>
      </div>
    </div>
  </section>
  
  <section class="wrapper">
    <div class="page">
      <div class="sec1">
        <p>Why Partner With Us</p>
        <h1>At Amiiba, We Believe In Mutual Success</h1>
        <div class="part">
          <div class="part1">
            <img src="/assets/Group 7.png">
          </div>
  
          <div class="card">
            <h4>Enhance Loyalty</h4>
            <p>Our cash-back point system turns one-time buyers into loyal customers.</p>
          </div>
        </div>
  
        <div class="part">
          <div class="part1">
            <img src="/assets/Group 11.png">
          </div>
  
          <div class="card">
            <h4>Boost Sales</h4>
            <p>Encourage repeat purchases through our rewarding points system.</p>
          </div>
        </div>
  
        <div class="part">
          <div class="part1">
            <img src="/assets/Group 12.png">
          </div>
  
          <div class="card">
            <h4>Elevate Brand Presence</h4>
            <p>Feature your products on a platform designed for engagement and conversion.</p>
          </div>
        </div>
      </div>
      
      <div class="sec2">
        <img src="/assets/image 33.png">
      </div>
    </div>
  </section>
  </div>